    <hr>

    <footer style="margin-top: 2em text-center">
        <small>
            <p>
                Todos los derechos reservados<br><br>
                Desarrollado por : <strong>Diego Alejandro Arbelaez.</strong>
            </p>
        </small>
    </footer>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>