 
{{>header}}
    <div class="container mt-6">
	<div class="alert alert-danger mt-5 text-center" role="alert">
	  <p><strong>{{ mensaje }}</strong></p>
	  <hr>
	  <a href="{{regresar}}" class="btn btn-danger btn-lg btn-block">Regresar</a>
	</div>
</div>
{{>footer}}
  
