{{>header}}

<div class="container mt-6">
	<div class="alert alert-success mt-5 text-center" role="alert">
	  <p><strong>{{ mensaje }}</strong></p>
		<hr>
	  	<a href="{{regresar}}" class="btn btn-success btn-lg btn-block">Aceptar</a>
	</div>
</div>

{{>footer}}