{{>header}}

<div class="container mt-5 text-center">

    <h2>Bienvenido a la página de educación continua</h2>
    <br>
    <div class="text-center">
        <img src="img/Curso_Virtual.jpg" class="img-fuit img-thumbnail">
    </div>
</div>

{{>footer}}